
.desaparecer{
    visibility: hidden;
}
.sacar{
    display: none;
}

.transition-on{
    transition: all 2s;
}
.traslucir{
    opacity: 0;
}
.azul{
    background-color: blue;
}
.acordeon{
    height: 0;
    padding-top: 0;
}